<!-- AngularJS datePickerApp Module -->
<div class="dropdown" dropdown auto-close="outsideClick" is-open="isOpen">
    <!-- Start Date Input -->
    <input class="dropdown-toggle" type="text" ng-click="startCal = true; openDateRange()" value='{{selectedStartDate}}'>

    <!-- End Date Input -->
    <input class="dropdown-toggle" type="text" ng-click="startCal = false; openDateRange()" value='{{selectedEndDate}}'>
 
    <!-- Calendar Dropdown -->
    <div class="dropdown-menu"  >
        <!-- Triangle Polygon -->
        <div class="tri-up" ng-class="{'triangle-left':startCal, 'triangle-right':!startCal}"></div>
        <!-- dateRange Directive -->
        
        <div date-range start="a" end="b" start-month="10"></div>
    </div>
</div>