/*
 * Date Range App Stylesheet
 *
 * Stylesheet for the datePicker directive.  Many of these classes override the
 * base library stylesheets
 *
 * date: 6/23/2015
 * @author Michael C
 */

/*
 * The container holding the dateRangeApp
 */

/*
 * Move the application away from the sides for demo purposes
 *
 * @REMOVE ON LIVE DEPLOYMENT
 */


.dropdown-menu {
  margin-top: 5px;
  box-shadow: none;
  border-radius: 0px;
  left: -92px;
    //Control where the container lies on the left
    &.mobile {
        left: -12px;
    }
    
    .triangle-left {
    left: 110px;
    }
    .triangle-right {
      left: 250px;
    }
    
    &.mobile .triangle-left {
        left: 40px;
    }
    &.mobile .triangle-right {
        left: 160px;
    }
    
    &.mobile [date-range] {
        width: auto;
        height: auto;
    }
}

[date-range] {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 590px;
  height: 316px; //mobile version
  //dateRange inner container
  
  &.mobile {
      width: auto;
      height: auto;
  }
  .dateRangeContainer {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
  }
  //Each datePicker container
  [date-picker] {
	margin-top: 8px;
	float: left;
        
        span {
            //Fix the blocks as squares
            height: 33px;
            width: 33px;
            line-height: 33px;
        }
        
    //Month header of each datePicker container -- ex. "July"
    .switch {
      font-weight: normal;
      text-transform: uppercase;
      width: auto;
      text-align: center;
      border-bottom: 1px solid #999999;
      padding-bottom: 6px;
      margin-bottom: 6px;
    }
    //Days that are selected
    .active.after.before, .after.before, .active.after, .active.active {
      color: #FFF;
      background-color: #6dd2d9;
      background-image: none; /* The original datePicker uses a linear gradient image  */
    }
    .active.after.before:hover, .after.before:hover, .active.after:hover, .active.active:hover {
      background-color: #00c0cd;
    }
    //Start Day
    .startDay.active::before {
        position: absolute;
        content: "";
        width: 0; 
	height: 0; 
        margin-left: 20px;
	border-top:16px solid #6dd2d9;  
        border-bottom:16px solid #6dd2d9; 
        border-left: 6px solid #00c0cd;
        -moz-transform: scale(.9999);
    }
    .endDay.active::before {
        position: absolute;
        content: "";
        width: 0px;
        height: 0px;
        margin-left: -12px;
        border-top: 16px solid #6dd2d9; 
	border-bottom: 16px solid #6dd2d9; 
        border-right: 6px solid #00c0cd; 
        -moz-transform: scale(.9999);
    }
    .startDay.active.after {
        background-color: #00c0cd;
    }

    .endDay.active.before {
        background-color: #00c0cd;
    }
    //Days that are unselected
    .day {
      color: #00c0cd;
    }

    //Days that are inactive
    .disabled {
      color: #cccccc;
    }
    .disabled:hover {
      background: inherit;
      cursor: default;
    }
    .after.before.disabled {
      background-color: inherit;
    }

  }
  .right {
	float: right;
  }
  //Arrows to switch month ranges
  .arrow {
    position: relative;
    cursor: pointer;
    color: #00c0cd;
    font-size: 36px;
    top: -4px;
  }
  .leftArrow {
    left: 30px;
    float: left;
  }
  .rightArrow {
    right: 30px;
    float: right;
  }
  .disabledArrow {
      color: fade(#00c0cd, 50%);
      cursor: default;
  }
  /* Sub-header of each datePicker container -- ex. days of the week "S M T.." */
  .dayOfWeekBox {
    color: #666666;
    border-top: 1px solid gray;
    font-weight: normal;
    text-transform: uppercase;
  }
  th {
    font-weight: normal;
  }
  //Days
  td {
    height: 33px;
    width: 33px;
  }
  span {
    border-radius: 0px;
    height: 33px;
    line-height: 33px;
  }
  //Headers for the days of the week
  th:hover {
    background: inherit;
    cursor: default;
  }
}


//The input boxes for the dropdown

[date-picker-app] {
  .dropdown-toggle {
    border-radius: 0px;
  }
  .dropdown-toggle:focus {
    box-shadow: none;
    border: 1px solid #ccc;
    transition-timing-function: linear;
  }
  //The Triangle Pointer for the dropdown menu
  .tri-up {
    // Styling block element, not required
    position: relative;
    top: -6px;
    left: 25px;
  }
  
  .tri-up:before, .tri-up:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
  }

  //Stroke
  .tri-up:before {
    bottom: -1px;
    left: 21px;
    /* If 1px darken stroke slightly */
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-width: 19px;
  }

  // Fill
  .tri-up:after {
    bottom: -1px;
    left: 22px;
    border-bottom-color: white;
    border-width: 18px;
  }
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.inline {
  display: inline-block;
  width: 50% !important;
  float: left;

  &.left {
    border-right-width: 0!important;
    &:after{
      content:" - "
    }
  }
  &.right {
    border-left-width: 0!important;
  }
}
