/*
 * Date Range App Stylesheet
 *
 * Stylesheet for the datePicker directive.  Many of these classes override the
 * base library stylesheets
 *
 * date: 6/23/2015
 * @author Michael C
 */

/*
 * The container holding the dateRangeApp
 */

/*
 * Move the application away from the sides for demo purposes
 *
 * @REMOVE ON LIVE DEPLOYMENT
 */
body {
    padding: 20px;
}

.dropdown-menu {
    margin-top: 5px;
    box-shadow: none;
    border-radius: 0px;
}


/*
 * dateRange
 */
[date-range] {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 590px;
    height: 316px;

    /*
     * dateRange inner container
     */
    .dateRangeContainer {
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }

    /*
     * Each datePicker container
     */ 
    [date-picker] {
        margin-top: 8px;
        float: left;
        
        /*
        * Days
        */
       td {
           height: 33px;
           width: 33px;
       }

       span {
           border-radius: 0px;
           height: 33px;
           line-height: 33px;
       }
    }

    .right {
        float: right;
    }

    /*
     * Arrows to switch month ranges
     */
    .arrow {
        position: relative; 
        cursor: pointer;
        color: #00c0cd;
        font-size: 36px;
        top: 4px;
    }

    .leftArrow {
        left: 30px; 
        float: left; 
    }

    .rightArrow {
        right: 30px; 
        float: right; 
    }

    /*
     * Month header of each datePicker container -- ex. "July"
     */
    [date-picker] .switch {
        font-weight: normal;
        text-transform: uppercase;
        width: auto;
        text-align: center;
        border-bottom: 1px solid #999999;
        padding-bottom: 6px;
        margin-bottom: 6px;
    }

    /* Sub-header of each datePicker container -- ex. days of the week "S M T.." */
    .dayOfWeekBox {
        color: #666666;
        border-top: 1px solid gray;
        font-weight: normal;
        text-transform: uppercase;
    }

    th {
        font-weight: normal;
    }

}



/*
 * Days that are selected
 */
[date-range] [date-picker] .active.after.before, [date-range] [date-picker] .after.before, [date-range] [date-picker] .active.after {
    color: #FFF;
    background-color: #00c0cd;
    background-image: none; /* The original datePicker uses a linear gradient image  */
}

/*
 * Days that are unselected
 */
[date-range] [date-picker] .day {
    color: #00c0cd;
}

/*
 * Headers for the days of the week
 */
[date-range] th:hover {
    background: inherit;
    cursor: default;
}

/*
 * Days that are inactive
 */
[date-range] [date-picker] .disabled {
    color: #cccccc;
}

[date-range] [date-picker] .disabled:hover {
    background: inherit;
    cursor: default;
}

[date-range] [date-picker] .after.before.disabled {
    background-color: inherit;
}

/*
 * The input boxes for the dropdown
 */
[date-picker-app] .dropdown-toggle {
    border-radius: 0px;
}

[date-picker-app] .dropdown-toggle:focus {
    box-shadow: none;
    border: 1px solid #ccc;
    transition-timing-function: linear;
}

/*
 * The Triangle Pointer for the dropdown menu
 */
[date-picker-app] .tri-up {
    /* Styling block element, not required */
    position: relative;
    top: -6px;
    left: 25px;
}
  
[date-picker-app] .triangle-left {
    left: 25px;
}
  
[date-picker-app] .triangle-right {
    left: 250px;
}

[date-picker-app] .tri-up:before, .tri-up:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
}

/* Stroke */
[date-picker-app] .tri-up:before {
    bottom: -1px;
    left: 21px;

    /* If 1px darken stroke slightly */
    border-bottom-color: rgba(0,0,0,0.2); 
    border-width: 19px;
}

/* Fill */
[date-picker-app] .tri-up:after {
    bottom: -1px;
    left: 22px;
    border-bottom-color: white; 
    border-width: 18px;
}